.block.block-hero {
  height: 90rem;
  display: flex;
  align-items: center;
  background-color: $color-default-background;

  @media (min-width: 700px) {
    .content {
      width: 50%;
    }
  }

  p:not(.button-wrapper) {
    @include responsive-font($font-min-size, 26px);
  }

  .button-wrapper,
  .button {
    margin-bottom: 0;
  }
}
