.block.block-hero {
  display: flex;
  align-items: center;

  &.block-hero-fullheight-with-bg {
    background-color: $color-default-background;
    height: 90rem;
  }

  &.block-hero-low-with-bg {
    background-color: $color-default-background;
  }

  &.block-hero-low-without-bg {
    background: $color-white;
  }

  &.block-hero-low-without-bg,
  &.block-hero-low-with-bg {
    height: auto;
    padding-top: 20rem;
    padding-bottom: 10rem;
  }

  h1 {
    margin-top: 0;
  }

  @media (min-width: 700px) {
    .content {
      width: 50%;
    }
  }

  p:not(.button-wrapper) {
    @include responsive-font($font-min-size, 26px);
  }

  .button-wrapper,
  .button {
    margin-bottom: 0;
  }
}

.block.block-alignment-center {
  justify-content: center;
  text-align: center;

  .container {
    margin: 0 auto;
  }

  .content {
    width: 100%;
    max-width: 90rem;

    h1 {
      margin-bottom: 2rem;
    }
  }
}

.block.block-alignment-right {
  justify-content: flex-end;

  .content {
    margin-left: auto;
  }
}
