.block.block-upsell-choose-cpt {
  .col {
    position: relative;
    border: solid 1px $color-lightgrey;
    background-color: $color-white;
    transition: all $transition-duration;

    h2 {
      font-size: 24px;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    .image {
      @include background-cover();
      background-color: $color-default-background;
      height: 22rem;
      position: relative;
    }

    .content {
      padding: 3rem 2rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 25px -10px rgba(darken($color-shadows, 25%), 1);
    }
  }

  .cols.cols-1 {
    @include grid(1);
  }

  .cols.cols-2 {
    @include grid(2);

    @media (max-width: 510px) {
      display: block;

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .cols.cols-3 {
    @include grid(3);

    @media (max-width: 840px) {
      @include grid(2);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 510px) {
      display: block;

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .cols.cols-4 {
    @include grid(4);

    @media (max-width: 1200px) {
      @include grid(3);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 840px) {
      @include grid(2);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 510px) {
      display: block;

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .cols.cols-5 {
    @include grid(5);

    @media (max-width: 1400px) {
      @include grid(4);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 1200px) {
      @include grid(3);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 840px) {
      @include grid(2);

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 510px) {
      display: block;

      .col {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
